<a href="https://colab.research.google.com/github/wissam-93/Analytics/blob/main/TurnoverHR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
df = pd.read_csv('turnover.csv')
df1=df.copy()

In [ ]:
tenure = df

In [ ]:
tenure.to_csv('tenure.csv',index =False)

In [ ]:
tenure.shape

(14999, 10)

In [ ]:
tenure.head()

,satisfaction,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
tenure.groupby(['time_spend_company'])['department'].value_counts()

time_spend_company  department
2                   sales          902
                    technical      588
                    support        515
                    IT             268
                    product_mng    201
                                  ...
10                  technical       20
                    IT              16
                    marketing       12
                    accounting      10
                    product_mng     10
Name: department, Length: 74, dtype: int64

In [ ]:
tenure.time_spend_company.unique()

array([ 3,  6,  4,  5,  2,  8, 10,  7])

In [ ]:
years_spent = pd.crosstab(tenure.time_spend_company,tenure.department)
years_spent.to_csv("years_spent.csv")
years_spent = pd.read_csv('years_spent.csv')
years_spent.head(10)

,time_spend_company,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,2,268,181,142,162,114,171,201,902,515,588
1,3,523,341,335,333,240,382,386,1768,974,1161
2,4,215,132,160,122,91,141,149,666,364,517
3,5,131,81,75,75,43,71,91,403,229,274
4,6,52,42,31,41,20,51,39,185,109,148
5,7,12,0,0,0,36,10,18,110,0,2
6,8,10,10,14,6,24,20,8,48,12,10
7,10,16,0,10,0,62,12,10,58,26,20

In [ ]:
years_spent.groupby(by=['time_spend_company'])[['IT','RandD','accounting','hr','management','marketing','product_mng','sales','support','technical']].sum()

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
time_spend_company,,,,,,,,,,
2,268,181,142,162,114,171,201,902,515,588
3,523,341,335,333,240,382,386,1768,974,1161
4,215,132,160,122,91,141,149,666,364,517
5,131,81,75,75,43,71,91,403,229,274
6,52,42,31,41,20,51,39,185,109,148
7,12,0,0,0,36,10,18,110,0,2
8,10,10,14,6,24,20,8,48,12,10
10,16,0,10,0,62,12,10,58,26,20

In [ ]:
years_spent.loc[0]

time_spend_company      2
IT                    268
RandD                 181
accounting            142
hr                    162
management            114
marketing             171
product_mng           201
sales                 902
support               515
technical             588
Name: 0, dtype: int64

In [ ]:
rr=['stack', 'group', 'overlay', 'relative']

In [ ]:
fig_11 = px.bar(years_spent, x= 'time_spend_company',y =['IT','RandD','accounting','hr','management','marketing','product_mng','sales','support','technical'],barmode='stack',text_auto=True)
fig_11.show()

In [ ]:
tenure['work_accident'].value_counts()

0    12830
1     2169
Name: work_accident, dtype: int64

In [ ]:
len(tenure)

14999

In [ ]:
num_of_all = len(tenure)
num_of_all

14999

In [ ]:
tenure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float64
 1   evaluation            14999 non-null  float64
 2   number_of_projects    14999 non-null  int64
 3   average_montly_hours  14999 non-null  int64
 4   time_spend_company    14999 non-null  int64
 5   work_accident         14999 non-null  int64
 6   churn                 14999 non-null  int64
 7   promotion             14999 non-null  int64
 8   department            14999 non-null  object
 9   salary                14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [ ]:
tenure.churn.value_counts()/num_of_all

0    0.761917
1    0.238083
Name: churn, dtype: float64

In [ ]:
77+23

100

In [ ]:
pd.options.plotting.backend = "plotly"

In [ ]:
df.loc[df['churn'] == 1 , 'churn'] = 'Out'

In [ ]:
df.loc[df['churn'] == 0 , 'churn'] = 'In'

In [ ]:
df.churn.unique()

array(['Out', 'In'], dtype=object)

In [ ]:
df.isna().sum()

satisfaction            0
evaluation              0
number_of_projects      0
average_montly_hours    0
time_spend_company      0
work_accident           0
churn                   0
promotion               0
department              0
salary                  0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float64
 1   evaluation            14999 non-null  float64
 2   number_of_projects    14999 non-null  int64
 3   average_montly_hours  14999 non-null  int64
 4   time_spend_company    14999 non-null  int64
 5   work_accident         14999 non-null  int64
 6   churn                 14999 non-null  object
 7   promotion             14999 non-null  int64
 8   department            14999 non-null  object
 9   salary                14999 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 1.1+ MB

#1.0 Company Analysis

1.1 Number workers across all company departments

In [ ]:
len(df.department)

14999

In [ ]:
emp_all = pd.crosstab(df.department,df.churn)
emp_all.reset_index(inplace=True)
ecc= pd.DataFrame(emp_all)
ecc.to_csv('All_emp.csv',index = False)
number_of_worker_all_churned = pd.read_csv('All_emp.csv')

In [ ]:
number_of_worker_all_churned

    department    In   Out
0           IT   954   273
1        RandD   666   121
2   accounting   563   204
3           hr   524   215
4   management   539    91
5    marketing   655   203
6  product_mng   704   198
7        sales  3126  1014
8      support  1674   555
9    technical  2023   697

In [ ]:
number_of_worker_all_churned.groupby(['Out','In'])['department'].sum()

Out   In
91    539      management
121   666           RandD
198   704     product_mng
203   655       marketing
204   563      accounting
215   524              hr
273   954              IT
555   1674        support
697   2023      technical
1014  3126          sales
Name: department, dtype: object

In [ ]:
number_of_worker_all_churned.groupby(by=['department']).sum()[['Out','In']]

              Out    In
department
IT            273   954
RandD         121   666
accounting    204   563
hr            215   524
management     91   539
marketing     203   655
product_mng   198   704
sales        1014  3126
support       555  1674
technical     697  2023

In [ ]:
fig = px.bar(number_of_worker_all_churned, x = 'department', y =['In','Out'],barmode='group',text_auto=True,title= "In total 14999 Employees distrubuted across different sections")
fig.show()

In [ ]:
def filter_satisfaction(x):
  if x <= 0.25:
    return 'very dissatisfied'
  if (x >0.25 and x < 0.5):
    return 'Dissatisfied'
  if (x >= 0.5 and x <=0.75):
    return 'satisfied'
  if (x > 0.75 and x <=100):
    return 'very satisfied'
df['Employee_Satisfaction'] = df['satisfaction'].apply(filter_satisfaction)

In [ ]:
df.drop(['satisfaction'],axis =1,inplace=True)

In [ ]:
df.head(5)

,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary,Employee_Satisfaction
0,0.53,2,157,3,0,Out,0,sales,low,Dissatisfied
1,0.86,5,262,6,0,Out,0,sales,medium,very satisfied
2,0.88,7,272,4,0,Out,0,sales,medium,very dissatisfied
3,0.87,5,223,5,0,Out,0,sales,low,satisfied
4,0.52,2,159,3,0,Out,0,sales,low,Dissatisfied

In [ ]:
all_sat = np.round(pd.crosstab(df.Employee_Satisfaction,df.salary),2).reset_index()
all_sat.to_csv('all_sat.csv',index =False)
dept_satisfaction = pd.read_csv('all_sat.csv')
dept_satisfaction

  Employee_Satisfaction  high   low  medium
0          Dissatisfied   175  1529    1106
1             satisfied   518  2381    2349
2     very dissatisfied   115   937     721
3        very satisfied   429  2469    2270

In [ ]:
dept_satisfaction.groupby(by=['Employee_Satisfaction']).sum()[['high','medium','low']]

                       high  medium   low
Employee_Satisfaction
Dissatisfied            175    1106  1529
satisfied               518    2349  2381
very dissatisfied       115     721   937
very satisfied          429    2270  2469

##2.0 Analysis of marketing department and the relation of salary with churn

1.   Relation between Marketers salary and churn
2.   Relation between marketers salary and Satisfaction level
3.   Relation between marketers satisfaction level and churn

#2.1

In [ ]:
market_dept = df.query("department == 'marketing'")
market_dept.reset_index(inplace=True)

In [ ]:
market_sal= pd.crosstab(market_dept.salary,market_dept.churn).reset_index()
market_sal.to_csv('marketsal.csv', index=False)
#pd.DataFrame(market_sal)
market_salary_churn = pd.read_csv('marketsal.csv')

In [ ]:
market_salary_churn

   salary   In  Out
0    high   71    9
1     low  276  126
2  medium  308   68

In [ ]:
fig = px.bar(market_salary_churn,  x = 'salary', y =['In','Out'],barmode='group',text_auto=True)
fig.show()

#2.2

In [ ]:
market_sat = pd.crosstab(market_dept.salary,market_dept.Employee_Satisfaction).reset_index()
market_sat.to_csv('marketsat.csv', index=False)
market_satisfaction_salary = pd.read_csv('marketsat.csv')
#pd.DataFrame(market_sat)
market_satisfaction_salary

   salary  Dissatisfied  satisfied  very dissatisfied  very satisfied
0    high            20         24                  9              27
1     low            82        125                 53             142
2  medium            73        146                 27             130

In [ ]:
fig = px.bar(market_satisfaction_salary, x = 'salary', y =['Dissatisfied','satisfied','very dissatisfied','very satisfied'],barmode='group',text_auto=True)
fig.show()

#2.3

In [ ]:
market_churn = pd.crosstab(market_dept.churn,market_dept.Employee_Satisfaction).reset_index()
market_churn.to_csv('market_churn',index =False)
#pd.DataFrame(market_churn)
market_churn_satisfaction = pd.read_csv('market_churn')
market_churn_satisfaction

  churn  Dissatisfied  satisfied  very dissatisfied  very satisfied
0    In            68        289                 47             251
1   Out           107          6                 42              48

In [ ]:
fig = px.bar(market_churn_satisfaction, x = 'churn', y =['Dissatisfied','satisfied','very dissatisfied','very satisfied'],barmode='group',text_auto=True)
fig.show()

In [ ]:
yes = df.query("churn == 'Out' or churn =='In'")
y = pd.DataFrame(yes)

In [ ]:
churn_sat = pd.crosstab(df.Employee_Satisfaction,y.churn).reset_index()
churn_sat.to_csv('churn_sat.csv',index=False)
the_churner_sat = pd.read_csv('churn_sat.csv')
the_churner_sat

  Employee_Satisfaction    In   Out
0          Dissatisfied  1197  1613
1             satisfied  4992   256
2     very dissatisfied   839   934
3        very satisfied  4400   768

In [ ]:
sat_and_sal = pd.crosstab(df.Employee_Satisfaction,df.salary).reset_index()
sat_and_sal

In [ ]:
fig = px.bar(the_churner_sat, x = the_churner_sat.Employee_Satisfaction, y =['In','Out'],barmode='group',text_auto=True)
fig.show()

#Sales department Analysis

In [ ]:
sales = df[df['department']=='sales'].reset_index()
sales.to_csv('sales_dept.csv',index=False)
sales_dept = pd.read_csv('sales_dept.csv')
sales_dept

,index,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary,Employee_Satisfaction
0,0,0.53,2,157,3,0,Out,0,sales,low,Dissatisfied
1,1,0.86,5,262,6,0,Out,0,sales,medium,very satisfied
2,2,0.88,7,272,4,0,Out,0,sales,medium,very dissatisfied
3,3,0.87,5,223,5,0,Out,0,sales,low,satisfied
4,4,0.52,2,159,3,0,Out,0,sales,low,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...
4135,14967,0.51,2,128,3,0,Out,0,sales,low,Dissatisfied
4136,14968,0.47,2,128,3,0,Out,0,sales,medium,Dissatisfied
4137,14969,0.46,2,157,3,0,Out,0,sales,medium,Dissatisfied
4138,14970,0.93,4,225,5,0,Out,0,sales,medium,very satisfied
4139,14971,0.45,2,140,3,0,Out,0,sales,medium,Dissatisfied

In [ ]:
fig = px.treemap(sales_dept, path=[px.Constant("Analysis of all renewed vs turnover employee"), 'salary', 'churn','Employee_Satisfaction'], 
                 values='work_accident')
fig.update_layout(margin = dict(t=50, l=25, r=25, b=25))
fig.show()

In [ ]:
tech = df[df['department']=='technical'].reset_index()
tech.to_csv('tech_dep.csv',index=False)
tech = pd.read_csv('tech_dep.csv')

In [ ]:
tech

,index,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary,Employee_Satisfaction
0,35,0.94,6,255,4,0,Out,0,technical,low,very dissatisfied
1,36,0.46,2,137,3,0,Out,0,technical,low,Dissatisfied
2,37,0.50,2,126,3,0,Out,0,technical,low,Dissatisfied
3,38,0.89,6,306,4,0,Out,0,technical,low,very dissatisfied
4,39,0.54,2,152,3,0,Out,0,technical,low,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...
2715,14985,0.99,5,254,5,0,Out,0,technical,medium,very satisfied
2716,14986,0.85,4,247,6,0,Out,0,technical,low,very satisfied
2717,14987,0.70,5,206,4,0,Out,0,technical,low,very satisfied
2718,14988,0.55,2,145,3,0,Out,0,technical,low,Dissatisfied
2719,14989,0.57,2,159,3,1,Out,0,technical,low,Dissatisfied

In [ ]:
tech.drop(['index'], axis=1,inplace=True)

In [ ]:
tech.head()

,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,department,salary,Employee_Satisfaction
0,0.94,6,255,4,0,Out,0,technical,low,very dissatisfied
1,0.46,2,137,3,0,Out,0,technical,low,Dissatisfied
2,0.50,2,126,3,0,Out,0,technical,low,Dissatisfied
3,0.89,6,306,4,0,Out,0,technical,low,very dissatisfied
4,0.54,2,152,3,0,Out,0,technical,low,Dissatisfied

In [ ]:
fig = px.treemap(tech, path=[px.Constant("Analysis of all renewed vs turnover employee"), 'Employee_Satisfaction', 'salary','churn'], 
                 values='work_accident')
fig.update_layout(margin = dict(t=50, l=25, r=25, b=25))
fig.show()